@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {
    font-family: 'RixYeoljeongdo_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
    font-family: 'SBAggroL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SBAggroM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    padding : 5%;
    background: rgb(218,218,218);
    background: linear-gradient(90deg, rgba(218,218,218,1) 0%, rgba(226,193,193,1) 100%);
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    color:var(--color-txt);
}
.left_side,.right_side{
    display:none;
}
.body{
    margin : 0 auto;
    max-width: 1200px;
    min-width: 200px;
    border-radius: 30px;
    box-shadow: 0px 9px 14px -3px rgba(0,0,0,0.41);
    background-color: white;
    opacity: 90%;
    font-family: 'IM_Hyemin-Bold';
}

.center{
    padding: 40px 20px;
    position:relative;
}
li,ul{
    list-style :none;
    padding: 0;
}
h1,h3{
    margin : 5px 15px;
}

h1{
    font-family:  'SBAggroB';
}
h3{
    font-size: 0.9em;
    font-weight: normal;
}

p{
    margin:0;
}

i{
    font-size: 1em;
}

button{
    all:unset;
    padding:0;
    cursor:pointer;
    display:flex;
}

input{
    font-family: 'SBAggroL';
    border: none;
    outline: none;
}

header{
    display: flex;
    justify-content: space-between;
}

header .emoji_mood{
    font-size: 1.5em;
    text-align: center;
    line-height:50px;
    background-color:#F0F4F8;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 300ms ease-out;
}

header .emoji_mood:hover{
    transform:scale(1.1);
}

header .emoji_mood:active{
    background-color:midnightblue;
}
emoji-picker{
    display:none;
    position:absolute;
    --background: var(--bg-main);
    --emoji-size: 1em;
    --emoji-padding: 0.3em;
    --outline-color: transparent;
    --input-font-size: 0.9em;
    --input-border-color: transparent;
    width: 300px;
    height: 250px;

    -webkit-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.18); 
    box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.18);

    top: 15%;
    right: 5%;
    z-index: 1;
}

@media screen and (max-width: 320px) {
    emoji-picker {
        --num-columns: 4;
        --category-emoji-size: 1.125rem;
    }
}

article{
    height : 350px;
    margin: 30px 0;
    overflow:auto;
    -ms-overflow-style: none; 
}
::-webkit-scrollbar {
    display:none;
} 

article input[type=checkbox]{
    display: none;
}

article .todo{
    display: flex;
    position:relative;
    justify-content: space-between;
    align-items: center;
}

article .todo_check{
    width: 18px;
    height: 18px;
    position: absolute;
    background: white;
    border-radius: 3px;
    border: 1px solid #b8bfcc;
    box-shadow: 0 2px 3px #F0F4F8;
}
article .todo label{
    cursor: pointer;
    padding: 5px 15px;
}
article .todo_tag_name{
    margin-left : 30px;
    word-break: break-all;
}
article .todo_name{
    font-size: 0.9em;
}
article .todo_tag{
    font-size: 0.7em;
    padding: 3px 10px;
    background-color: red;
    border-radius: 15px;
    color:white;
}

article .todo_delete{
    font-size: 1em;
    margin: 0 15px;
}
article .todo_delete:hover{
    color: red;
}


footer{
    display:flex;
    height: 36px;
    align-items: center;
    margin: 0 15px;
}

footer .footer_input{
    font-weight:bold;
    padding:0 16px;
    font-size: 1em;
    width: 100%;
    height:100%;
}

footer .footer_button{
    font-size: 1.2em;
    border-radius: 5px;
}

footer .footer_button:hover {
    animation: animation 1000ms linear both;
}

.input_massage{
    font-size: 0.8em;
    color:#AEB7C6;
    text-align: right;
}

.input_massage p{
    height: 18px;
    margin: 10px 20px;
}

